<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block html_head %} {% endblock %}
    {% if title %}
        <title> Flasketeer - {% block title %} {% endblock %}</title>
    {% else %}
        <title> Flasketeer - My first Flask app</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
</head>
<body>
    <header class="header__global">
        <section class="header__global-brand">
            <a href="/"><div class="brand-logo"></div></a>
        </section>
        <section class="header__global-nav">
            <nav role="navigation">
                <a class="navigation-link {% if request.path == '/about' %} active {% endif %}" href="/about">About</a>
                <a class="navigation-link {% if request.path == '/portfolio' %} active {% endif %}" href="/portfolio">Portfolio</a>
                <a class="navigation-link {% if request.path == '/blog' %} active {% endif %}" href="/blog">Blog</a>
                <a class="navigation-link {% if request.path == '/contact' %} active {% endif %}" href="/contact">Contact</a>
            </nav>
        </section>
    </header>
    <main class="main__container">
    {% block main_container %}
    {% endblock %}
    </main>
</body>
</html>